/* Register page */
#signupbox {
    margin-top:50px;
}

#footersignin {
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Sign in page */
#loginbox {
    margin-top:50px;
}

#forgotpass {
    font-size: 80%;
    position: relative;
    top: -18px;
}

#loginbody {
    padding-top:30px;
}

#loginbody .input-group {
    margin-bottom: 25px;
}

#footersignup {
    margin-top: 75px;
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Forgot password page */

#forgotpassbox {
    margin-top:50px;
}

#forgotpassbox .input-group {
    margin-bottom: 25px;
}

#footerforgot {
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Auth navbar */

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#navbar-avatar {
    width: 100%;
    height: auto;
}

/* Index dashboard */

#welcome {
    margin-top: 50px;
}

/* Staff page */

.img-center {
    margin: 0 auto;
    width: 200px;
    height: auto;
}

#profile_link:hover {
    text-decoration: none;
}

#add_profile_div {
    margin-bottom: 20px;
}

#add_profile {
    opacity: 0.5;
    height: 200px;
}

#add_profile:hover {
    opacity: 1;
    text-decoration: none;
}

#add_profile span {
    line-height: 185px;
    margin-left: 8px;
    font-size: 50px;
}

/* Profile page*/

#avatar {
    width: 250px;
    height: auto;
}

#delete_button {
    margin-top: 15px;
    opacity: 0.5;
}

.well {
    margin-top: 10px;
}

.well:hover {
    cursor: pointer;
}

#table_buttons {
    width: 89px;
}

/* Chage password page */

#changepassbox {
    margin-top:50px;
}

#footerprofile {
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Add new, Edit pages */

#addbox {
    margin-top:50px;
}

#footeradd {
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Calendar page */
.calendar {
    width: 100%;
    min-width: 700px;
    border-collapse: collapse;
}

.calendar tbody tr:first-child th {
    color: #505050;
    margin: 0 0 10px 0;
}

#title_row {
    height: 50px;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #757575;
    font-size: 10px;
}

.calendar td {
    width: 14%;
    border:1px solid #CCC;
    height: 98px;
    vertical-align: top;
    font-size: 10px;
    padding: 0;
}

.calendar td:hover {
    background: #F6F6F6;
}

.calendar td:hover .day_listing {
    background: #E0E0E0;
}

.day_listing {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #2C2C2C;
    padding-right: 5px;
    background: #F3F3F3;
}

div.today {
    background: #E9EFFF;
    height: 100%;
}

div.today:hover .day_listing {
    background: #C7CDFF;
}

.today .day_listing {
    background: #C7CDFF;
}

.other {
    opacity: 0.5;
}

.event_name:hover {
    cursor: pointer;
}

/* Internal events page */

.place {
    width: 25%;
}

.date {
    width: 91px;
}

.time {
    width: 10px;
}

/* News Events pages */

.news_time {
    display: block;
    color: #666;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 12px;
}

.readmore {
    display: block;
    margin-top: -10px;
}

.add_link {
    margin-bottom: 30px;
}

/* Textarea forms */
textarea {  
   font-family: "Lucida Console", Monaco, monospace;
}