/* Register page */
#signupbox {
    margin-top:50px;
}

#footersignin {
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Sign in page */
#loginbox {
    margin-top:50px;
}

#forgotpass {
    font-size: 80%;
    position: relative;
    top: -18px;
}

#loginbody {
    padding-top:30px;
}

#loginbody .input-group {
    margin-bottom: 25px;
}

#footersignup {
    margin-top: 75px;
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Forgot password page */

#forgotpassbox {
    margin-top:50px;
}

#forgotpassbox .input-group {
    margin-bottom: 25px;
}

#footerforgot {
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Auth navbar */

.navbar-login {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#navbar-avatar {
    width: 100%;
    height: auto;
}

/* Index dashboard */

#welcome {
    margin-top: 100px;
}

/* Profile page*/

#avatar {
    width: 250px;
    height: auto;
}

.well {
    margin-top: 10px;
}

.well:hover {
    cursor: pointer;
}

#table_buttons {
    width: 89px;
}

/* Chage password page */

#changepassbox {
    margin-top:50px;
}

#footerprofile {
    border-top: 1px solid #BBB;
    padding-top:15px;
}

/* Add new pages */

#addbox {
    margin-top:50px;
}

#footeradd {
    border-top: 1px solid #BBB;
    padding-top:15px;
}